@(message: String, connectedUser: models.User, paginaCurenta: common.Pagina[Sticla])

@main(title = "Sticlute", connectedUser) {
    
  <h1>@message</h1>

  @Option(paginaCurenta.elemente).filterNot(_.isEmpty).map { sticlute =>
  	<table>
  	  @sticlute.map { sticluta =>
  	    <tr>
  	      <td>@sticluta.denumire</td>
  	      <td>@sticluta.greutate</td>
  	      <td>@sticluta.colectie</td>
  	      <td>@sticluta.tara</td>
  	      <td>@sticluta.descriere</td>
  	      <td>@sticluta.calePoza</td>
  	    </tr>	
  	  }
  	</table>
  }.getOrElse {
    Nimic de afisat
  }
    
}